{% extends 'AzineMailgunWebhooksBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.blue.css">
	<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" />
{% endblock %}

{% block body %}
	{{ render(controller('AzineMailgunWebhooksBundle:Mailgun:cockpit')) }}
	
	<h1>MailgunEvents</h1>
	<a class="backToOverview" href="{{ path('mailgun_overview') }}" >Back to overview</a>
	<hr/>
	<h2>Filter criteria</h2>
	<form id="filter_event_form" action="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : currentFilters.pageSize}) }}" method="post">
		<table>
			<tr>
				<th>Domain :</th>
				<td>
					<select id="filter_domains" name="filter[domain]" >
						{% for domain in filterOptions.domains %}
						<option value="{{ domain }}"  {% if (domain == currentFilters.domain)  %}selected{% endif %}>{{ domain }}</option>
						{% endfor %}
					</select>
				</td>
				<th>Event Type :</th>
				<td>
					<select id="filter_eventTypes" name="filter[eventType]">
						{% for eventType in filterOptions.eventTypes %}
						<option value="{{ eventType }}"  {% if (eventType == currentFilters.eventType)  %}selected{% endif %}>{{ eventType }}</option>
						{% endfor %}
					</select>
				</td>
				<th>Recipient :</th>
				<td>
					<input id="filter_recipients" name="filter[recipient]" type="text" list="recipientList" value="{{ currentFilters.recipient }}"/>
					<datalist id="recipientList">
						{% for recipient in filterOptions.recipients %}
						  <option value="{{ recipient }}" />
						{% endfor %}
					</datalist>
				</td>
				<th>Search :</th>
				<td>
					<input id="filter_search" name="filter[search]" type="text" value="{{ currentFilters.search }}"/>
				</td>
				<th>Order by :</th>
				<td>
					<select id="filter_orderBy" name="filter[orderBy]">
						{% for field in filterOptions.orderBy %}
						<option value="{{ field }}"  {% if (field == currentFilters.orderBy)  %}selected{% endif %}>{{ field }}</option>
						{% endfor %}
					</select>
					<select id="filter_orderDirection" name="filter[orderDirection]">
						<option value="asc"  {% if ('asc' == currentFilters.orderDirection)  %}selected{% endif %}>asc</option>
						<option value="desc"  {% if ('desc' == currentFilters.orderDirection)  %}selected{% endif %}>desc</option>
					</select>
								</td>
				<td>
					<button class="button" type="filter_submit">Filter</button>
				</td>
			</tr>
		</table>
	</form>
<hr/>

	{{ include('AzineMailgunWebhooksBundle::paginator.html.twig', paginatorParams) }}

	<table class="tablesorter-blue eventsTable">
		<thead>
			<tr>
				<th>Event</th>
				<th>Subject / Recipient</th>
				<th>Description / Notification</th>
				<th>Reason / Errorcode</th>
				<th>Location</th>
				<th>Error</th>
				<th>Campaignid / Campaignname</th>
				<th>Client</th>
				<th>Messageid / Messageheaders</th>
				<th>Tag</th>
				<th>Customvariables</th>
				<th>Url</th>
			</tr>
		</thead>
		<tbody>
		{% for eventEntry in events %}
			<tr id="event{{ eventEntry.id }}" class="{{ cycle(['odd', 'even'], loop.index) }}">
				<td>
					<a href="{{ path('mailgunevent_show', { 'id': eventEntry.id }) }}">
						{{ eventEntry.event }}<br />
						{{ eventEntry.dateTime | date("Y-m-d H:i:m") }}
					</a>
					<br />
					<a class="deleteLink" href="{{ path('mailgunevent_delete', {'eventId' : eventEntry.id }) }}"
						eventId="{{ eventEntry.id }}"
						eventType="{{ eventEntry.event }}"
						eventTime="{{ eventEntry.dateTime | date("Y-m-d H:i:m") }}"
						eventRecipient="{{ eventEntry.recipient }}"
						>delete</a>
				</td>
				<td>
					{{ eventEntry.eventTitle }}<br />
					{{ eventEntry.recipient }}

				</td>
				<td>
					{{ eventEntry.description }}<br />
					{{ eventEntry.notification }}
				</td>
				<td>
					{{ eventEntry.reason }}<br />
					{{ eventEntry.errorCode }}
				</td>
				<td title="IP: {{ eventEntry.ip }} Region: {{ eventEntry.region }}">
					{{ eventEntry.city }}
					{% if eventEntry.country %} ({{ eventEntry.country }}) {% endif %}
				</td>
				<td>
					{{ eventEntry.error }}
				</td>
				<td campaignId="{{ eventEntry.campaignId }}" campaignName="{{ eventEntry.campaignName }}">
					{{ eventEntry.campaignId }}<br />
					{{ eventEntry.campaignName }}
				</td>
				<td client="{{ eventEntry.clientName }}" os="{{ eventEntry.clientOs }}" device="{{ eventEntry.deviceType }}">
					<span title="User-Agent: {{ eventEntry.userAgent }}">{{ eventEntry.clientName }}</span><br />
					<span title="ClientType: {{ eventEntry.clientType }} | DeviceType: {{ eventEntry.deviceType }}">{{ eventEntry.clientOs }}</span>
				</td>
				<td>
					MessageId: {{ eventEntry.messageId }}
					{% if eventEntry.messageHeaders | length > 0 %}
					<br />
					MessageHeaders:
						<ul>
						{% for key, value in eventEntry.messageHeaders %}
							{% if value is iterable %}
								<li>{{ key }}: <pre>{{ value | printArray }}</pre></li>
							{% else %}
								<li>{{ key }}: {{ value }}</li>
							{% endif %}
						{% endfor %}
					{% endif %}
					</ul>
				</td>
				<td>
					{{ eventEntry.tag }}
				</td>
				<td>
					{% if eventEntry.variables | length > 0 %}
						<ul>
						{% for item in eventEntry.variables %}
							<li>{% if item.variableName != "" %} {{ item.variableName }} : {% endif %}
								{% if item.content is iterable %}
									<pre>
									    {{ item.content | printArray }}
									</pre>
								{% else %}
									{{ item.content }}
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					{% endif %}
				</td>
				<td>
					{{ eventEntry.url }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{{ include('AzineMailgunWebhooksBundle::paginator.html.twig', paginatorParams) }}


{% endblock %}

{% block templateJQueryJS %}
		$(".pageSizeSelector").change(function(){
			// reload the page with the new pagesize
			var newSize = this.value;
			var baseUrl = '{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : '-1'}) }}';
			window.location.href = baseUrl.substring(0, baseUrl.length - 2) + newSize;
		});
{% endblock %}
