{% extends 'AzineMailgunWebhooksBundle::layout.html.twig' %}

{% block body -%}
    {{ parent() }}
    <h1>MailgunEvent: {% if entity.eventTitle != ''  %}{{ entity.eventTitle }} {% endif %} => {{ entity.recipient }} </h1>
    <p>
        <a class="backToOverview" href="{{ path('mailgun_overview') }}" >Event Overview</a> |
        <a class="backToOverview" href="{{ path('mailgunevent_list') }}" >Event List</a> |
        <a class="backToOverview" href="{{ path('mailgun_message_summary_list') }}" >Message Summary List</a>
    </p>
    <table class="mailgunEvent record_properties">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <td>Event</td>
                <td>{{ entity.event }}</td>
            </tr>
            <tr>
                <td>Domain</td>
                <td>{{ entity.domain }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <td>Reason</td>
                <td>{{ entity.reason }}</td>
            </tr>
            <tr>
                <td>Recipient</td>
                <td>{{ entity.recipient }}</td>
            </tr>
            <tr>
                <td>Errorcode</td>
                <td>{{ entity.errorCode }}</td>
            </tr>
            <tr>
                <td>Ip</td>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <td>Region</td>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <td>Campaignid</td>
                <td>{{ entity.campaignId }}</td>
            </tr>
            <tr>
                <td>Campaignname</td>
                <td>{{ entity.campaignName }}</td>
            </tr>
            <tr>
                <td>Clientname</td>
                <td>{{ entity.clientName }}</td>
            </tr>
            <tr>
                <td>Clientos</td>
                <td>{{ entity.clientOs }}</td>
            </tr>
            <tr>
                <td>Clienttype</td>
                <td>{{ entity.clientType }}</td>
            </tr>
            <tr>
                <td>Devicetype</td>
                <td>{{ entity.deviceType }}</td>
            </tr>
            <tr>
                <td>Mailinglist</td>
                <td>{{ entity.mailingList }}</td>
            </tr>
            <tr>
                <td>Messageid</td>
                <td>{{ entity.messageId }}</td>
            </tr>
            <tr>
                <td>Messageheaders</td>
                <td>
                    MessageId: {{ entity.messageId }}
                    {% if entity.messageHeaders | length > 0 %}
                    <br />
                    MessageHeaders:
                    <ul class="expandcollapse">
                        {% for key, value in entity.messageHeaders %}
                            {% if value is iterable %}
                                <li>{{ key }}: <pre>{{ value | printArray }}</pre></li>
                            {% elseif emailWebViewToken == key %}
                                {{ key }} : <a href="{{ path(emailWebViewRoute, {'sentEmail': {'token' : value}}) }}" target="_blank">{{ value }}</a>
                            {% else %}
                                <li>{{ key }}: {{ value }}</li>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Tag</td>
                <td>{{ entity.tag }}</td>
            </tr>
            <tr>
                <td>Customvariables</td>
                <td>
					{% if entity.variables | length > 0 %}
						<ul class="expandcollapse">
						{% for item in entity.variables %}
							<li>
								{% if item.variableName != "" %}
									{{ item.variableName }} :
								{% endif %}
								{% if item.content is iterable %}
									<pre>
										{{ item.content | printArray }}
									</pre>
								{% else %}
									{{ item.content }}
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					{% endif %}
                </td>
            </tr>
            <tr>
                <td>Useragent</td>
                <td>{{ entity.userAgent }}</td>
            </tr>
            <tr>
                <td>Url</td>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <td>Token</td>
                <td>{{ entity.token }}</td>
            </tr>
            <tr>
                <td>Timestamp</td>
                <td>{{ entity.timestamp | date("Y-m-d H:i:m", false) }} UTC</td>
            </tr>
            <tr>
                <td>Signature</td>
                <td>{{ entity.signature }}</td>
            </tr>
        </tbody>
    </table>
    <div class="actions">
        <a class="button delete" href="{{ path('mailgunevent_delete', {'eventId' : entity.id }) }}">Delete</a>
        <a class="button" href="{{ path('mailgun_message_summary', {'id' : entity.messageId }) }}">Show Message Summary</a>
    </div>

{% endblock %}
