{% extends 'AzineMailgunWebhooksBundle::layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/css/theme.blue.css">
	<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css" />
{% endblock %}

{% block body -%}
    <h1>MailgunEvent: {% if entity.eventTitle != ''  %}{{ entity.eventTitle }} {% endif %} => {{ entity.recipient }} </h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Event</th>
                <td>{{ entity.event }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ entity.domain }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Notification</th>
                <td>{{ entity.notification }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ entity.reason }}</td>
            </tr>
            <tr>
                <th>Recipient</th>
                <td>{{ entity.recipient }}</td>
            </tr>
            <tr>
                <th>Errorcode</th>
                <td>{{ entity.errorCode }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ entity.ip }}</td>
            </tr>
            <tr>
                <th>Error</th>
                <td>{{ entity.error }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ entity.region }}</td>
            </tr>
            <tr>
                <th>Campaignid</th>
                <td>{{ entity.campaignId }}</td>
            </tr>
            <tr>
                <th>Campaignname</th>
                <td>{{ entity.campaignName }}</td>
            </tr>
            <tr>
                <th>Clientname</th>
                <td>{{ entity.clientName }}</td>
            </tr>
            <tr>
                <th>Clientos</th>
                <td>{{ entity.clientOs }}</td>
            </tr>
            <tr>
                <th>Clienttype</th>
                <td>{{ entity.clientType }}</td>
            </tr>
            <tr>
                <th>Devicetype</th>
                <td>{{ entity.deviceType }}</td>
            </tr>
            <tr>
                <th>Mailinglist</th>
                <td>{{ entity.mailingList }}</td>
            </tr>
            <tr>
                <th>Messageid</th>
                <td>{{ entity.messageId }}</td>
            </tr>
            <tr>
                <th>Messageheaders</th>
                <td>
					MessageHeaders:
					{% if entity.messageHeaders | length > 0 %}
						<ul>
						{% for key, value in entity.messageHeaders %}
							<li>{{ key }}: {{ value }}</li>
						{% endfor %}
					</ul>
					{% else %}
					-
					{% endif %}
                </td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{ entity.tag }}</td>
            </tr>
            <tr>
                <th>Customvariables</th>
                <td>
					{% if entity.variables | length > 0 %}
						<ul>
						{% for item in entity.variables %}
							<li>
								{% if item.variableName != "" %}
									{{ item.variableName }} :
								{% endif %}
								{% if item.content is iterable %}
									<pre>
									    {{ dump(item.content) }}
									</pre>
								{% else %}
									{{ item.content }}
								{% endif %}
							</li>
						{% endfor %}
						</ul>
					{% endif %}
                </td>
            </tr>
            <tr>
                <th>Useragent</th>
                <td>{{ entity.userAgent }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ entity.token }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ entity.timestamp }}</td>
            </tr>
            <tr>
                <th>Signature</th>
                <td>{{ entity.signature }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li><a href="{{ path('mailgunevent_delete', {'eventId' : entity.id }) }}">delete</a></li>
</ul>
{% endblock %}
