{% extends 'AzineMailgunWebhooksBundle::layout.html.twig' %}

{% block body %}
	{{ parent() }}
	{{ render(controller('AzineMailgunWebhooksBundle:Mailgun:cockpit')) }}

	<h1>Mailgun Events</h1>
	<p>
		<a class="backToOverview" href="{{ path('mailgun_overview') }}" >Event Overview</a> |
		<a class="backToOverview" href="{{ path('mailgun_message_summary_list') }}" >Message Summary List</a>
	</p>
	<h3>Filter criteria</h3>
	<form id="filter_event_form" action="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : currentFilters.pageSize}) }}" method="post">
		<table>
			<tr>
				<th>Domain :</th>
				<td>
					<select id="filter_domains" name="filter[domain]" >
						{% for domain in filterOptions.domains %}
						<option value="{{ domain }}"  {% if (domain == currentFilters.domain)  %}selected{% endif %}>{{ domain }}</option>
						{% endfor %}
					</select>
				</td>
				<th>Event Type :</th>
				<td>
					<select id="filter_eventTypes" name="filter[eventType]">
						{% for eventType in filterOptions.eventTypes %}
						<option value="{{ eventType }}"  {% if (eventType == currentFilters.eventType)  %}selected{% endif %}>{{ eventType }}</option>
						{% endfor %}
					</select>
				</td>
				<th>Recipient :</th>
				<td>
					<input id="filter_recipients" name="filter[recipient]" type="text" list="recipientList" value="{{ currentFilters.recipient }}"/>
					<datalist id="recipientList">
						{% for recipient in filterOptions.recipients %}
						  <option value="{{ recipient }}" />
						{% endfor %}
					</datalist>
				</td>
			</tr>
			<tr>
				<th>Search :</th>
				<td>
					<input id="filter_search" name="filter[search]" type="text" value="{{ currentFilters.search }}"/>
				</td>
				<th>Order by :</th>
				<td>
					<select id="filter_orderBy" name="filter[orderBy]">
						{% for field in filterOptions.orderBy %}
						<option value="{{ field }}"  {% if (field == currentFilters.orderBy)  %}selected{% endif %}>{{ field }}</option>
						{% endfor %}
					</select>
					<select id="filter_orderDirection" name="filter[orderDirection]">
						<option value="asc"  {% if ('asc' == currentFilters.orderDirection)  %}selected{% endif %}>asc</option>
						<option value="desc"  {% if ('desc' == currentFilters.orderDirection)  %}selected{% endif %}>desc</option>
					</select>
								</td>
				<td colspan="2">
					<button class="button" type="filter_submit">Filter</button>
				</td>
			</tr>
		</table>
	</form>
<hr/>
	{{ include('AzineMailgunWebhooksBundle::paginator.html.twig', paginatorParams) }}
	{{ include('AzineMailgunWebhooksBundle:MailgunEvent:eventList.html.twig', {events: events, emailWebViewRoute: emailWebViewRoute}) }}
	{{ include('AzineMailgunWebhooksBundle::paginator.html.twig', paginatorParams) }}
{% endblock %}

{% block templateJQueryJS %}
    {{ parent() }}

	$(".pageSizeSelector").change(function(){

		// reload the page with the new pagesize
		var newSize = this.value;
		var baseUrl = '{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : '-1'}) }}';
		window.location.href = baseUrl.substring(0, baseUrl.length - 2) + newSize;

	});
{% endblock %}
