{% extends 'AzineMailgunWebhooksBundle::layout.html.twig' %}

{% block body %}
	{{ parent() }}
	{{ render(controller('AzineMailgunWebhooksBundle:Mailgun:cockpit')) }}
	
    <h1>Mailgun Overview</h1>
	<p>
		<a class="backToOverview" href="{{ path('mailgunevent_list') }}" >Event List</a> |
		<a class="backToOverview" href="{{ path('mailgun_message_summary_list') }}" >Message Summary List</a>
	</p>
	<p>
		Show filtered events:
		<ul>
			<li>
				<a href="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : 25 }) }}?eventType=bounced">bounced ({{ bounced }})</a>
			</li>
			<li>
				<a href="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : 25 }) }}?eventType=dropped">dropped ({{ dropped }})</a>
			</li>
			<li>
				<a href="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : 25 }) }}?eventType=complained">marked as spam by the user ({{ complained }})</a>
			</li>
			<li>
				<a href="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : 25 }) }}?eventType=unsubscribed">unsubscribe requests by users ({{ unsubscribed }})</a>
			</li>
			<li>
				<a href="{{ path('mailgunevent_list', {'page' : 1, 'pageSize' : 25 }) }}?eventType=unopened">un-opened emails({{ unopened }})</a>
			</li>
		</ul>
	</p>
	<h1>Most recent/important MailgunEvents</h1>
	{{ include('AzineMailgunWebhooksBundle:MailgunEvent:eventList.html.twig', {events: importantEvents, emailWebViewRoute: emailWebViewRoute}) }}

{% endblock body %}