<h3>{{ 'notification.spam_complaint_received' | trans }}</h3>

{{ 'notification.mailgun_spam_received' | trans }}: <a href="{{ url('mailgunevent_show', {'id': eventId}) }}">{{ url('mailgunevent_show', {'id': eventId}) }}</a>. <br/>

{{ 'notification.spam_complaint_received' | trans }}:
{% if ticketId is defined and ticketId != '' %}
<a href="https://app.mailgun.com/app/support/{{ ticketId }}">https://app.mailgun.com/app/support/{{ ticketId }}</a>
{% else %}
<a href="https://app.mailgun.com/app/support/new">https://app.mailgun.com/app/support/new</a>
{% endif %}